node_modules
/test/local
/test/*.local.*
/side/0-*
/@*
/config/config.*
!/config/config.default.json
!/config/config.user.json.example
!/config/config.runcom.json.example
/log/*
/cache
/debug
/bases.d.ts
